<h1>Create Author</h1>

<form class="addAuthorForm" action="/add-author" method="post">
	<label for="author_firstName">Add Author 1 First Name:</label>
	<input type="text" name="author_firstName"  placeholder="first name here">

  <label for="author_lastName">Add Author 1 Last Name:</label>
  <input type="text" name="author_lastName"  placeholder="last name here">

  <label for="author_pic_url">Add Author 1 Pic Url Here:</label>
  <input type="text" name="author_pic_url"  placeholder="url here">

  <label for="author_bio">Add Author 1 Bio Here:</label>
  <textarea name="author_bio"  placeholder="bio here"></textarea>

	<input type="submit" value="Add Author">
</form>
