<h1>Create Author</h1>

<form class="addBookForm" action="/add-book" method="post">
	<label for="book_title">Book Title:</label>
	<input type="text" name="book_title"  placeholder="enter title here">

  <label for="genre">Book Genre</label>
  <input type="text" name="genre"  placeholder="enter genre here">

  <label for="cover_url">Book Cover URL:</label>
  <input type="text" name="cover_url"  placeholder="enter url here">

  <label for="book_bio">Book Bio:</label>
  <input type="text" name="book_1_bio"  placeholder="bio here">

	<input type="submit" value="Add book">
</form>
