
<div class="autorCardMasterContain">
  <div class="authorPicDiv">
    <div class="AuthorNameDiv">
        <div class="AuthorNameDeleteEditContainer">
          <div class="authorName">
            <h1>Author:{{}}</h1>
          </div>
          <div class="delEditContainer">
            <div class="deleteBookContainer">Delete</div>
            <div class="editBookInfoContainer">Edit</div>
          </div>
        </div>
        <div>
          <div class="bookSelectContainer">
            <label for="bookSelect">Books</label>

              <table style="width:25%">
                  <tr>
                    <th>X</th>
                  </tr>
                  <tr>
                    <td>populate this</td>
                  </tr>
                  <tr>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
