
<div class="bookCardMasterContain">
  <div class="bookPicDiv">
    <div class="bookInfoDiv">
        <div class="titleDeleteEditContainer">
          <div class="bookTitle">
            <h1>Title:</h1>
          </div>
          <div class="delEditContainer">
            <div class="deleteBookContainer">Delete</div>
            <div class="editBookInfoContainer">Edit</div>
          </div>
        </div>
        <div>
        <div class="authorDiv">
          <h2>Author:</h2>
        </div>
        <div class="genreDiv">
          <h3>Genre:</h3>
        </div>
        <div class="bioDiv">
          <p>Bio:</p>
        </div>
      </div>
    </div>
  </div>
</div>
