<!DOCTYPE html>
<html>
  <head>
    <title>Forge Library Foundation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <!-- <div class="header">
      <div class="logoDiv">
        <div class="circleHeader">
          <h1 class="glyphs"><i class="fa fa-bicycle" aria-hidden="true"></i></h1><h2>{{logo}}</h2>
        </div>
      </div>

      <div class="titleDiv">
        <div class="circle1">
          <h1>{{title}}</h1><h2>
        </div>
      </div>
    </div> -->
    {{{body}}}
  </body>
</html>
